h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

h2, h3 {
  text-align: center;
}

.home {
  background: -webkit-linear-gradient(top, transparent, black), url("../images/bg-home.jpeg");
  background: linear-gradient(to bottom, transparent, black), url("../images/bg-home.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 620px;
  -webkit-transition: background 1s ease-in-out;
          transition: background 1s ease-in-out;
}
.home .caption {
  padding-top: 85px;
}
.home .caption h2 {
  text-align: left;
  font-size: 7rem;
  font-weight: bold;
  color: #0088CC;
  width: 50%;
}
.home .caption p {
  width: 75%;
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  color: #26a69a;
}

.navigation {
  background-color: #0088CC;
  border-radius: 0;
  border-top: 10px solid #ea4335;
  margin: 0;
  color: #ffffff;
}
.navigation ul {
  padding: 15px 80px;
  margin-bottom: 0;
  list-style-type: none;
}
.navigation ul li {
  padding: 21.4px 0;
  display: inline;
}
.navigation ul li:hover {
  background-color: #ea4335;
}
.navigation ul li a {
  padding: 0 15px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.navigation ul li i {
  padding-right: 6px;
  color: yellow;
}

.discussionslist {
  background-color: #7c62a9;
  border-bottom: 10px solid #fbbc05;
}
.discussionslist .container {
  padding: 50px 130px;
}
.discussionslist .container .discussions {
  margin: 40px 0;
  text-align: center;
}
.discussionslist .container .discussions img {
  padding: 15px 15px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 170px;
}
.discussionslist .container .discussions p {
  margin-top: 15px;
  font-size: 1.8rem;
  color: #ffffff;
}

.whatisgdg {
  border-bottom: 10px solid #34a853;
}
.whatisgdg .container {
  padding: 100px;
}
.whatisgdg .container h2 {
  text-align: left;
  font-size: 3.8rem;
}
.whatisgdg .container p {
  font-size: 2.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.speakerslist {
  background-color: #ea4335;
  border-bottom: 10px solid #0088CC;
}
.speakerslist .container {
  padding: 50px;
}
.speakerslist .container h2 {
  font-size: 3.6rem;
  color: #ffffff;
}
.speakerslist .container .speakers {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  padding: 40px 0;
  margin-bottom: 30px;
  border-radius: 50px 0 50px 0;
}
.speakerslist .container .speakers img {
  width: 190px;
  border: 6px solid #0088CC;
  border-radius: 50%;
  -webkit-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.speakerslist .container .speakers img:hover {
  border: 9px solid #0088CC;
}
.speakerslist .container .speakers h3 {
  font-weight: bold;
  color: #0088CC;
}
.speakerslist .container .speakers p {
  font-weight: 300;
  line-height: 0;
  text-align: center;
}

.organization .container {
  padding: 20px 0;
  margin-left: 40px;
}
.organization .container ul li {
  display: inline-block;
}
.organization .container ul li img {
  width: 185px;
}

.photoCarousel {
  border-bottom: 10px solid #ea4335;
}
.photoCarousel .carousel-indicators .active {
  background-color: #0088CC;
}
.photoCarousel .carousel-inner img {
  height: 400px;
}

.vunuePartnersList .container {
  padding: 50px;
}
.vunuePartnersList .container .vunuePartners {
  margin-left: 90px;
}
.vunuePartnersList .container .vunuePartners li {
  display: inline-block;
  list-style-type: none;
}
.vunuePartnersList .container .vunuePartners li img {
  padding: 0 10px;
  width: 100px;
}

.mediaPartner .container {
  padding-bottom: 50px;
}
.mediaPartner .container img {
  width: 300px;
}

footer {
  border-top: 10px solid #fbbc05;
  background-color: #0088CC;
}
footer .container {
  padding: 15px;
}
footer .container .socialMedia {
  float: left;
}
footer .container p {
  padding-top: 6px;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
}
footer .container p span {
  float: right;
}
footer .container p span a {
  color: #ffffff;
  text-decoration: none;
}
